<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test-app</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen,projection"/>
</head>
<body>
<div id="sidebar">
    <h1>Отчеты</h1>
    <ol id="nav">
        <li><a href="/">Все покупки</a></li>
        <li><a href="/reports/last-week-orders">Список покупок за последнюю неделю</a></li>
        <li><a href="/reports/monthly-most-popular">Самый покупаемый товар за последний месяц</a></li>
        <li><a href="/reports/half-year-customer">Лучший покупатель полугодия (больше всего потратил)</a></li>
        <li><a href="/reports/eighteen-year-choice">Чаще всего покупают в возрасте 18 лет</a></li>
    </ol>
</div>
<div id="content">
    <h2 class="first">Чаще всего покупают в возрасте 18 лет(может быть несколько)</h2>
    <div th:each="items : ${itemsList}">
        <br> Наимнование:
        <a t th:text="${items.getName()}">res</a>
        <br> Купили раз:
        <a t th:text="${items.getItemsCount()}">res</a>
        <br>
    </div>
</div>
</body>
</html>
